version: "3"
services:
  apollo:
    image: ghcr.io/phazorworks/apollo:latest
    environment:
      - SENTRY_DSN=
      - BOT_ID=
      - BOT_PREFIX=
      - BOT_OWNER_ID=
      - BOT_TOKEN=-
      - SHARDS_TOTAL=1
      - USE_IMAGE_API=TRUE
      - IMAGE_API_SERVER=
      - SPOTIFY_WEB_SERVER=
    restart: always
  imagegen:
    image: ghcr.io/phazorworks/image-gen:dev
    ports:
      - 2334:3003
    restart: always
  spotifyweb:
    image: gigafyde/spotify-web
    ports:
      - 2335:8080
    environment:
      - key_size=5
      - spotify_dev_public=
      - spotify_dev_private=
      - port=8080
      - rotating_keys=true
    restart: always
